$main-bg-color: rgb(10, 10, 59);
$main-font: Arial, Helvetica, sans-serif;
$btn-color: whitesmoke;

* {
  font-family: $main-font;
  
  color: black;
}

html,
.container-fluid {
  background-color: $main-bg-color;
}

input {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  display: block;
  width: 40%;
}

body {
  .container-fluid > * {
    background-color: rgb(253, 250, 250);
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
    padding: 30px;

      button {
        border-radius: 10px;
        border: 1px solid grey;
        background-color: $btn-color;
        padding: 10px;
        display: inline;
        width: fit-content;
      }

      button[name="grossprofit-modal-btn"],
      button[name="modal-btn"]{
        background-color: $btn-color;
        border-radius: 10px;
        color: black;
        margin: 0;
        padding: 10px;
        
        &:focus{
          outline: none;
        }
      }

      .input-data > * {
        margin: auto;
        margin-top: 10px;
      }

      #exampleModal > *{
        color: black;
        border-radius: 10px;

        .modal-body > *{
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
          margin: 5px;
        }

        .modal-footer{
          text-align: center;

          button{
            color: black;

            &:hover{
              background-color: gray;
              color: white;
            }
          }
        }
      }


  }

  .container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-inline: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
  }

  .last-row {
    background-color: $main-bg-color;
    padding-bottom: 100px;

    .returned-items-chart {
      margin: auto;
      background-color: rgb(253, 250, 250);
      border: 1px solid black;
      width: 50%;
      text-align: center;
      border-radius: 10px;
      padding: 10px;

      button {
        border-radius: 10px;
        border: 1px solid grey;
        background-color: $btn-color;
        padding: 10px;
        display: inline;
        width: fit-content;
      }

      .input-data > * {
        margin: auto;
        margin-top: 10px;
      }

      #gross-profit-modal > *{
        color: black;
        border-radius: 10px;

        .modal-body > *{
          border: 1px solid black;
          padding: 10px;
          border-radius: 10px;
          margin: 5px;
        }

        .modal-footer{
          text-align: center;

          button{
            color: black;

            &:hover{
              background-color: gray;
              color: white;
            }
          }
        }
      }
      
    }
  }
}
