* {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html,
.container-fluid {
  background-color: #0a0a3b;
}

input {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  display: block;
  width: 40%;
}

body .container-fluid > * {
  background-color: #fdfafa;
  border: 1px solid black;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
}

body .container-fluid > * button {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: whitesmoke;
  padding: 10px;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .container-fluid > * button[name="grossprofit-modal-btn"],
body .container-fluid > * button[name="modal-btn"] {
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
  margin: 0;
  padding: 10px;
}

body .container-fluid > * button[name="grossprofit-modal-btn"]:focus,
body .container-fluid > * button[name="modal-btn"]:focus {
  outline: none;
}

body .container-fluid > * .input-data > * {
  margin: auto;
  margin-top: 10px;
}

body .container-fluid > * #exampleModal > * {
  color: black;
  border-radius: 10px;
}

body .container-fluid > * #exampleModal > * .modal-body > * {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

body .container-fluid > * #exampleModal > * .modal-footer {
  text-align: center;
}

body .container-fluid > * #exampleModal > * .modal-footer button {
  color: black;
}

body .container-fluid > * #exampleModal > * .modal-footer button:hover {
  background-color: gray;
  color: white;
}

body .container-fluid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-inline: 100px;
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

body .last-row {
  background-color: #0a0a3b;
  padding-bottom: 100px;
}

body .last-row .returned-items-chart {
  margin: auto;
  background-color: #fdfafa;
  border: 1px solid black;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

body .last-row .returned-items-chart button {
  border-radius: 10px;
  border: 1px solid grey;
  background-color: whitesmoke;
  padding: 10px;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .last-row .returned-items-chart .input-data > * {
  margin: auto;
  margin-top: 10px;
}

body .last-row .returned-items-chart #gross-profit-modal > * {
  color: black;
  border-radius: 10px;
}

body .last-row .returned-items-chart #gross-profit-modal > * .modal-body > * {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}

body .last-row .returned-items-chart #gross-profit-modal > * .modal-footer {
  text-align: center;
}

body .last-row .returned-items-chart #gross-profit-modal > * .modal-footer button {
  color: black;
}

body .last-row .returned-items-chart #gross-profit-modal > * .modal-footer button:hover {
  background-color: gray;
  color: white;
}
/*# sourceMappingURL=styles.css.map */